<div class="container">
    <div class="loginBody">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center mb-5">

                <h1>Treble Finder Login</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center mt-5">
                <div class="card w-50">
                    <div class="card-body">
                        <form action="/login" method="post">
                            <div class="form-group ">
                                <label for="userLoginEmail">Email</label>
                                <input type="email" name="email" class="form-control" id="userLoginEmail"
                                    placeholder="georgewashington@yahoo.com">
                            </div>

                            <div class="form-group">
                                <label for="loginPassword">Password</label>
                                <input type="password" name="password" class="form-control" id="loginPassword" placeholder="Password">
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mt-4">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>